/* General Styling */

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

/* Navbar */

.navbar-brand img {
    width: 70px;
    filter: invert(1);
}

.navbar-custom {
    background-color: rgb(109, 103, 103);
}

/* Font Styling */

.menu-link {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 1);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}

.menu-link:hover {
    color: rgb(136, 241, 241);
    text-decoration: none;
}

.nav-item {
    margin: 0 0.8rem;
}

h2.page-title {
    text-align: center;
    margin: 2rem;
}

/* Banner Styling and Images */

.banner-settings {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
    padding-bottom: 7rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

.banner-content {
    background-color: rgba(146, 145, 145, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    right: -100%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 1.5rem;
}

.home-banner {
    background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1593956194/Hackathon/INdex/4k-wallpaper-adorable-blur-boy-1148998_1_1_1_1_khf2uw.jpg");
}

.about-banner {
    background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1594280759/Hackathon/focus-photo-of-super-mario-luigi-and-yoshi-figurines-163036_1_1_snwnx5.jpg");
}

.login-banner {
    background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1594023556/Hackathon/INdex/photo-of-kids-jumping-together-3311695_1_1_jftkr0.jpg");
}

.register-banner {
    background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1594038361/Hackathon/INdex/mosaic-alien-on-wall-1670977_2_1_boqivg.jpg");
}

.uploads-banner {
    background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1594210611/Hackathon/INdex/toddler-girl-wearing-white-and-black-sweater-holding-plastic-712141_1_1_ku8i1t.jpg");
}

.noentry-banner {
    background-image: url("https://res.cloudinary.com/andy-osborne/image/upload/v1594155386/Hackathon/photo-of-lego-toy-miniatures-3806754_1_1_qvuada.jpg");
}

/* Styling for list of activities */

.activities {
    width: 90%;
    margin: 1rem auto;
}

.activity-btn {
    font-size: 2rem;
    color: #41b3a3;
}

.activity-btn:hover {
    color: #c38d9e;
    text-decoration: none;
}

.card-header {
    background-color: rgba(23, 23, 23, 0.7);
}

.btn-activity-done {
    text-transform: uppercase;
    border: none;
    padding: 0.5rem;
}

.btn-activity-done:hover {
    background-color: #c38d9e;
}

/* Image Upload Page */

.recent-image {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 25vw;
    overflow: hidden;
}

.recent-image img {
    width: 80%;
    height: auto;
    border-radius: 5px;
}

.reaction-link {
    border: 1px solid #454545;
    border-radius: 1rem;
    transition: transform 0.3s;
}

.reaction-link:hover {
    transform: scale(1.2);
}

.selected {
    background-color: #ffb6c1;
}

/* Media Queries */

@media only screen and (max-width: 410px) and (orientation: portrait) {
    .banner-content {
        right: 0;
    }
}
