
{% extends 'public/base.html' %}

{% block title %}Let's Play{% endblock %}

{% block header %}

<header class="about-banner banner-settings text-center text-white">
    <div class="banner-content">
        <div class="container">
            <h1 class="mb-0">Let's Play</h1>
            <h2 class="mb-0">Ready to sign up?</h2>
            <a href="{{url_for('register')}}" class="btn btn-primary btn-xl rounded-pill mt-5">Sign Up</a>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}
    <h2>Who we are</h2>
    <p>We are a group of coders - Simon, Pasha, Andy, Daryl, Lety and Debbie</p>
    <p>We had this idea to create a website of activities for children aged 6 to 11</p>
    <p>So here it is!  There are lots of activities for kids and parents! to do which</p>
    <p>will keep you busy during this time.  You can also upload pictures of the</p>
    <p>activity and others can see how you got on</p>
    <br>
    <p>A note for parents:  Maybe plan a schedule for the activities and stick it on</p>
    <p>to the fridge.  Could be a great motivator for the kids!</p>
    <br>
    <p><strong> And please remember to stay a minimum of 1 metre from anyone else!</strong></p>
    <br>
    
    <br>
    <p>  


{% endblock %}