{% extends 'public/base.html' %}

{% block title %}Acivities{% endblock %}

{% block header %}

<header class="home-banner text-center text-white">
  <div class="banner-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">ACTIVITIES</h1>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}
<div class="activities" id="activities">
  {% for activity in activities %}
  <div class="accordion" id="activity{{loop.index}}">
    <div class="card">
      <div class="card-header" id="heading{{loop.index}}">
        <h2 class="mb-0">
          <button class="btn btn-link activity-btn" type="button" data-toggle="collapse"
            data-target="#collapse{{loop.index}}" {% if loop.index == 1 %}aria-expanded="true" {% endif%}
            aria-controls="collapse{{loop.index}}">
            {{ activity.name }}
          </button>
        </h2>
      </div>
      <div id="collapse{{loop.index}}" class="collapse{% if loop.index == 1 %} show{% endif %}"
        aria-labelledby="heading{{loop.index}}" data-parent="#activities">
        <div class="card-body">
          {% if activity.requirements %}
          <p><strong>You'll need:</strong> {{ activity.requirements }}</p>
          {% endif %}
          <p>{{ activity.description }}</p>
          {% if activity.has_photo %}
          <button class="button btn-primary btn-activity-done ml-auto mr-auto d-block mt-3">Send a photo of my
            project!</button>
          {% else %}
          <a href="{{ url_for('complete', activity_id = activity._id) }}"
            class="button btn-primary btn-activity-done ml-auto mr-auto d-block mt-3">I have finished
            this!</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>{% endfor %}
</div>
{% endblock %}