{% extends 'public/base.html' %}

{% block title %}Let's Play | Login{% endblock %}

{% block header %}

<header class="login-banner text-center text-white banner-settings">
    <div class="banner-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Let's Play</h1>
            <h2 class="masthead-subheading mb-0">Your fun is starting in 3..2..1</h2>
        </div>
    </div>
</header>

{% endblock %}

{% block content %}

<div class="row no-gutters login-image b-image d-flex justify-content-center">
    <div class="col-12 col-lg-3 text-center">
        <div class="container-fluid center-form">
            <div class="header">
                <h2 class="page-title">Login</h2>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center text-sm-center text-lg-left">
                    <form action="/login" method="POST">
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label class="form-control-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" required>
                            </div>

                            <div class="form-group">
                                <label class="form-control-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                            </div>

                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <div class="flashes">

                                {% for message in messages %}
                                <strong class="flash-color">
                                    {{ message }}
                                </strong>
                                {% endfor %}

                            </div>
                            {% endif %}
                            {% endwith %}

                        </fieldset>
                        <div class="form-group text-center">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                        <div class="text-center">
                            <p>Don't have an account? <a href="{{url_for('register')}}">Sign Up Here</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}