{% extends 'public/base.html' %}

{% block title %}Moderator{% endblock %}

{% block header %}

<header class="home-banner text-center text-white">
  <div class="banner-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">MODERATOR PAGE</h1>
    </div>
  </div>
</header>

{% endblock %}

{% block content %}
<div class="activities" id="activities">
  {% for image in images %}
  <div class="accordion" id="activity{{loop.index}}">
    <div class="card">
        <div class="card-header" id="heading{{loop.index}}">
            <h2 class="mb-0">
            <button class="btn btn-link activity-btn" type="button" data-toggle="collapse"
                data-target="#collapse{{loop.index}}" {% if loop.index == 1 %} aria-expanded="true" {% endif %}
                aria-controls="collapse{{loop.index}}">
                Contributed by: {{ image.user }}
            </button>
            </h2>
        </div>
        <div id="collapse{{loop.index}}" class="collapse{% if loop.index == 1 %} show{% endif %}"
        aria-labelledby="heading{{loop.index}}" data-parent="#activities">
        <div class="card-body">
            <img class="img-fluid rounded" src="{{ image.image_url }}">

            <div class="row ml-4 my-2 justify-content-start">
                <a class="btn btn-success ml-2" href="{{ url_for('approve', image_id=image._id) }}">Approve</a>
                <a class="btn btn-danger ml-2" href="{{ url_for('reject', image_id=image._id) }}">Reject and delete</a>
            </div>
        </div>
      </div>
    </div>
  </div>{% endfor %}
</div>
{% endblock %}